@font-face {
  font-family: "TT Lakes";
  font-weight: 400;
  src: url(/webcore/fonts/TTLakes/TTLakes-Regular.woff) format("woff");
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 500;
  src: url(/webcore/fonts/TTLakes/TTLakes-Medium.woff) format("woff");
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 600;
  src: url(/webcore/fonts/TTLakes/TTLakes-DemiBold.woff) format("woff");
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 700;
  src: url(/webcore/fonts/TTLakes/TTLakes-Bold.woff) format("woff");
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 800;
  src: url(/webcore/fonts/TTLakes/TTLakes-ExtraBold.woff) format("woff");
}

body {
  font-family: "TT Lakes";
  color: #1b1c21;
  margin: 0;
}

/* header */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #d9fff5;
  padding: 19px 0;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background: #ff3e79;
  padding: 15px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}

.header__tablet-buttons {
  display: none;
}

.logo {
  position: relative;
  margin-right: 16px;
}

.logo::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  position: absolute;
  right: -16px;
  bottom: 14px;
}

.header-section-desktop {
  display: none;
}

/* main */

.main-content__title {
  padding: 0 16px;
  font-size: 28px;
  margin: 0;
}

.main-content__title::before {
  content: "";
  width: 5px;
  height: 40px;
  background-color: #41f6d7;
  position: absolute;
  left: -1px;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 24px 0;
}

.main-content__about {
  display: flex;
  flex-direction: column;
}

.nav-container {
  position: relative;
}

.main-content__nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  margin-top: 24px;
  padding-left: 16px;
  gap: 20px;
  list-style: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main-content__nav:after {
  content: "";
  position: absolute;
  right: 0;
  background-image: linear-gradient(
    270deg,
    #f8f8f8 0%,
    rgba(248, 248, 248, 0) 100%
  );
  height: 100%;
  width: 24px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-content__nav::-webkit-scrollbar {
  display: none;
}

.nav__item {
  font-size: 16px;
  color: #7e7e82;
  border: #b8ffec;
  flex-shrink: 0;
}

.nav__item--current {
  padding: 8px 9px;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #ffffff;
}

.main-content__description {
  padding: 0 16px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin-bottom: 0;
}

.main-content__description--tablet {
  display: none;
}

.main-content__description--desktop {
  display: none;
}

.main-content__read-more {
  color: #1b1c21;
  font-weight: 500;
  line-height: 24px;
  margin: 16px 0 16px 48px;
}

.main-content__read-more::before {
  content: url(/webcore/assets/expand.svg);
  position: absolute;
  left: 21px;
}

.main-content__image {
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }

  .header__tablet-buttons {
    display: flex;
    position: relative;
    gap: 16px;
    margin-right: 26px;
  }

  .header__left-side {
    gap: 43px;
  }

  .logo::after {
    display: none;
  }

  .logo::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    position: absolute;
    left: -23px;
    bottom: 12px;
  }

  .header__tablet-buttons::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    position: absolute;
    right: -23px;
    bottom: 8px;
  }

  .main-content__title {
    padding-left: 24px;
  }

  .main-content__nav {
    padding-left: 24px;
  }

  .main-content__description-container {
    display: flex;
    gap: 48px;
    padding: 32px 25px;
  }

  .main-content__image {
    max-width: 360px;
  }

  .main-content__description {
    line-height: 20px;
    margin-top: 0;
    padding: 0;
  }

  .main-content__description--tablet {
    display: block;
    margin-top: 22px;
  }

  .main-content__read-more {
    margin: 10px 0 16px 32px;
  }

  .main-content__read-more::before {
    left: 33px;
  }
}

@media (min-width: 1120px) {
  .header-section-desktop {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #1b1c21;
    font-weight: 500;
    line-height: 24px;
  }

  .button-desription {
    display: flex;
    gap: 9px;
    align-items: center;
  }

  .desktop-button {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .header {
    display: none;
  }

  .desktop-header {
    display: flex;
    justify-content: space-between;
    padding: 18px 32px 0 16px;
  }
  .main-content__nav {
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
    padding: 17px 32px 0;
    margin-top: 0;
  }

  .nav__item {
    padding: 8px 9px;
  }

  .main-content__image {
    max-width: 531px;
  }
  .main-content__description--desktop {
    display: inline;
  }

  .main-content__description-container {
    padding: 19px 28px 0 34px;
    gap: 36px;
  }

  .main-content__read-more {
    margin-top: 13.78px;
  }
}

/* sidebar */

.body-sidebar {
  font-weight: 500;
  line-height: 24px;
  max-width: 320px;
  padding: 19px 24px;
  margin: 0;
  box-shadow: 16px 0px 52px rgba(14.49, 23.84, 80.24, 0.2);
}

/* header-sidebar */

.sidebar-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 55px;
}

/* main-sidebar */

.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 50px;
  padding: 0;
  cursor: pointer;
}

.option:hover {
  color: #7e7e82;
  position: relative;
  transition: 0.5s;
}

.menu__option:hover::before {
  content: "";
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  position: absolute;
  left: -24px;
  top: -5px;
  border-radius: 10px;
}

/* footer-sidebar*/

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-top: 268px;
}

.buttons-container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.contact-link {
  text-decoration: none;
  color: #1b1c21;
}

.contact-link--bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.languages {
  margin-top: 40px;
  margin-bottom: 8px;
  padding: 0;
  display: flex;
  gap: 7px;
  list-style: none;
}

.language-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
