// colors

$pink: #FF3E79;
$white:#FFFFFF;
$black: #1B1C21;
$turquoise: #41F6D7;
$turquoise--light: #B8FFEC;
$turquoise--lighten: #D9FFF5;

$grey--darken: #7E7E82;
$grey--dark: #B5B6BC;
$grey: #EAEAEA; 
$grey--light: #F8F8F8;


